<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="chat_list" class=" animated slideInUp delay_4">
			<ion-icon class="zmdi zmdi-comments"></ion-icon>
<!--			<ion-label>Tab One</ion-label>-->
		</ion-tab-button>

		<ion-tab-button tab="call_logs" class=" animated slideInUp delay_3">
			<ion-icon class="zmdi zmdi-phone"></ion-icon>
<!--			<ion-label>Tab Two</ion-label>-->
		</ion-tab-button>

		<ion-tab-button tab="grup_list" class=" animated slideInUp delay_2">
			<ion-icon class="zmdi zmdi-accounts-alt"></ion-icon>
<!--			<ion-label>Tab Three</ion-label>-->
		</ion-tab-button>

		<ion-tab-button tab="more" class=" animated slideInUp delay_1">
			<ion-icon class="zmdi zmdi-more"></ion-icon>
<!--			<ion-label>Tab Three</ion-label>-->
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>