<ion-content fullscreen>
    <div class="details text-white ion-text-center">
        <h2>Luicy Williams</h2>
        <p>987 654 3210</p>
    </div>
    <div class="video_chat">
        <!-- <img src="assets/images/picture.png"> -->
        <video #localVideo autoplay></video>
    </div>
</ion-content>
<ion-footer class="animated slideInUp delay_3" no-border>
    <ion-row class="text-white">
        <ion-col sixe="6" class="d-flex item_start">
            <ion-icon class="zmdi zmdi-phone-end" (click)="dismiss()"></ion-icon>
            <h2>02:28</h2>
        </ion-col>
        <ion-col sixe="6" class="d-flex item_end">
            <ion-icon class="zmdi zmdi-refresh-alt end ion-text-start"></ion-icon>
            <div class="user_img end">
                <!-- <img src="assets/images/7.png"> -->
                <video #remoteVideo autoplay></video>
            </div>
        </ion-col>
    </ion-row>
</ion-footer>