<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'profile' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="form">
        <ion-list lines="none">

            <ion-item class="profile">
                <div class="item_inner">
                    <div class="profile_img_box animated zoomIn delay_1" (click)="profilepicture()">
                        <div class="profile_img">
                            <img src="assets/images/profile_pic.png">
                        </div>
                    </div>
                    <h1 class="ion-text-center">Luicy Williams</h1>
                    <h4 class="ion-text-center">Day one or One Day - You choice</h4>
                </div>
            </ion-item>

            <ion-item class="media_shared">
                <div class="item_inner">
                    <h4>{{'media_shared' | translate}}</h4>
                    <ion-row item-end class="animated slideInUp delay_1">
                        <ion-col>
                            <div class="img_box">
                                <img src="assets/images/m1.png">
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="img_box">
                                <img src="assets/images/m2.png">
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="img_box">
                                <img src="assets/images/m3.png">
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="img_box">
                                <img src="assets/images/m4.png">
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="img_box">
                                <img src="assets/images/m5.png">
                            </div>
                        </ion-col>
                        <h6 class="ion-text-center">{{'view_all' | translate}}</h6>
                    </ion-row>
                </div>
            </ion-item>

            <ion-item class="item-toggle">
                <ion-label>{{'mute_notification' | translate}}</ion-label>
                <ion-toggle slot="end" checked="true"></ion-toggle>
            </ion-item>

            <ion-item class="contact_box">
                <div class="item_inner d-flex">
                    <div class="contact">
                        <h4>{{'phone_number' | translate}}</h4>
                        <h2>+1 987 654 3210</h2>
                    </div>
                    <h3 class="end">
                        <ion-icon class="zmdi zmdi-videocam ion-text-end" (click)="videocall()"></ion-icon>
                        <ion-icon class="zmdi zmdi-phone ion-text-end" (click)="voicecall()"></ion-icon>
                    </h3>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-row>
        <ion-col size="6" class="d-flex">
            <ion-icon class="zmdi zmdi-alert-circle ion-text-start"></ion-icon>
            <h6>{{'report_spam' | translate}}</h6>
        </ion-col>
        <ion-col size="6" class="d-flex">
            <ion-icon class="zmdi zmdi-block ion-text-start">block</ion-icon>
            <h6>{{'block_profile' | translate}}</h6>
        </ion-col>
    </ion-row>
</ion-footer>