ion-header {
	ion-toolbar {
		ion-title {
			padding: 0 15px !important;
		}
	}
}

.form {
	padding-top: 7px;

	ion-list {
		margin: 0;

		h2 {
			margin: 0;
			font-size: 1rem;
			letter-spacing: 0;
			padding: 17px 16px 12px 16px;
			font-weight: 500;
			color: var(--text-dark);
		}

		ion-item {
			padding: 16px 15px 0px 15px;
			margin-bottom: 5px;

			&.profile {
				padding: 6px 13px;

				.label {
					margin: 0;
				}

				.profile_img_box {
					width: 120px;
					margin: 19px auto 6px auto;
					position: relative;
					overflow: hidden;

					.profile_img {
						width: 120px;
						height: 120px;
						position: relative;
						overflow: hidden;
						border-radius: 50%;

						img {
							position: absolute;
							width: 100%;
							height: 100%;
							left: -50% !important;
							right: -50% !important;
							top: 0;
							bottom: 0;
							left: 0;
							margin: auto;
						}
					}

					ion-icon {
						font-size: 1rem;
						width: 28px;
						min-width: 28px;
						height: 28px;
						line-height: 28px;
						border-radius: 50%;
						position: absolute;
						top: 0;
						right: 6px;
						background: var(--primary);
						color: var(--white);
					}
				}
			}


			.input-wrapper {
				display: block;
			}

			&.status {
				padding: 1px 13px;

				ion-input {
					font-size: 1rem !important;
				}
			}

			h3 {
				&[item-end] {
					margin: 0;
					font-size: 1.8rem;
					font-weight: 500;
					min-width: 80px;
					height: 44px;
					line-height: 44px;
				}
			}

			.label {
				margin: 0;
				margin-bottom: 5px;
			}
 
		}
	}
}
